:root {
  --divider-margin: 1.5em;
  --block-margin: 0.5em;
  --inline-margin: 0.3em;
  --basic-color: #333;
  --action-color: #888;
  --dim-color: #aaa;

  @custom-media --mobile-viewport only screen and (max-width: 767px);
}

.question-preview-wall {

  margin-top: var(--divider-margin);
  margin-bottom: var(--divider-margin);

  .ui.divider{
    margin-top: var(--divider-margin);
    margin-bottom: var(--divider-margin);
  }

  .preview-item {

    a {
      color: var(--action-color);
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    &.passed {
      .header .title a{
        color: var(--dim-color) !important;
      }
    }

    .meta {
      color: var(--action-color);
      margin-bottom: var(--block-margin);
    }

    .header{
      margin-bottom: var(--block-margin);
      .title {
        margin-top: 0;
        a {
          color: var(--basic-color);
        }
      }
    }

    .answer {
      .author{
        position: relative;
        margin-bottom: var(--block-margin);

        .avatar, .meta {
          display: block;
        }

        .avatar {
          width: 3em;
          height: auto;
          float: left;
          margin: 0 0;

          > img {
            width: 100%;
            border-radius: 50%;
          }
        }

        .meta {
          margin-left: 4em;
          a {
            color: var(--basic-color);
          }
          > * {
            margin-left: var(--inline-margin);
            margin-right: var(--inline-margin);
          }
        }
      }

      .content{
        clear: both;

        a.more{
          color: #2b6dad;
        }
      }

      @media (--mobile-viewport) {
        .author{
          .avatar {
            float: none;
            margin-left: auto;
            margin-right: auto;
          }

          .meta {
            margin-left: 0;
            text-align: center;

            > * {
              display: block;
              margin-left: var(--inline-margin);
              margin-right: var(--inline-margin);
            }
          }
        }

      }
    }

    .footer {
      clear: both;
      margin-top: var(--block-margin);

      > * {
        display: inline-block;
        margin-left: var(--inline-margin);
        margin-right: var(--inline-margin);
      }

      .label {
        line-height: 0.2em;
        padding: 0.6em;
      }

      @media (--mobile-viewport) {
        > * {
          margin-top: var(--block-margin);
          margin-bottom: var(--block-margin);
          width: 100%;
          display: block;
          text-align: center;
        }
      }

    }
  }
}
